<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal card</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div align="center">
    <div style="width: 40%;">
        <head>
            <h2>{{ card['Name'] }}</h2>
        </head>
        <section align="left" class="container">
            <p class="hoverable">Animal type: {{ card['Animal type'] }}</p>
            <p class="hoverable">Date of birth: {{ card['Date of birth'] }}</p>
            <p class="hoverable">Breed: {{ card['Breed'] }}</p>
            <p class="hoverable">Color: {{ card['Color'] }}</p>
            <p class="hoverable">Outcome date: {{ card['Outcome date'] }}</p>
            <p class="hoverable">Outcome subtype: {{ card['Outcome subtype'] }}</p>
            <p class="hoverable">Outcome type: {{ card['Outcome type'] }}</p>
        </section>
    </div>
    </div>
</body>
</html>