<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div align="center">
    <div style="width: 40%;">
    <head>
        <h2 style="text-align: center;">Animals' register</h2>
        <p class="container">Использование: /animal_id</p>
    </head>
    <section class="container">
        <h3>Поля:</h3>
        <ul>
            <li>Animal id — идентификатор животного</li>
            <li>Animal type — тип животного</li>
            <li>Name — кличка</li>
            <li>Date of birth — дата рождения</li>
            <li>Outcome date — дата поступления</li>
            <li>Breed — порода или сочетание</li>
            <li>Color — цвет или сочетание цветов</li>
            <li>Outcome subtype — программа, в которой участвует животное</li>
            <li>Outcome type — что сейчас с животным</li>
        </ul>
    </section>
    </div>
    </div>
</body>
</html>