<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div align="center">
    <div style="width: 40%;">
        <head>
            <h2>Search</h2>
            <form action="" method="post">
                <input class="input_field" type="text" placeholder="Введите кличку животного">
            </form><br>
        </head>
        <section class="container">
            <p>Здесь будут найденные строки</p>
<!--            {% for breed in breeds %}-->
<!--            <p>{{ breed['Breed'] }}</p>-->
<!--            {% endfor %}-->
        </section>
    </div>
    </div>
</body>
</html>